* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    height: 100px;
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

h1 {
    display: inline;
    vertical-align: super;
    font-size: 49px;
}

.contenitore {
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.bottone {
    padding: 20px 50px;
}

button {

    padding: 10px 20px;
}

#task {
    background-color: #46adf1;
    border: 1px solid lightgrey;
    color: white;
    border-radius: 10px;
}

#sectionb {
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgray;
    border-radius: 10px;
}

.list {
    padding: 4% 50px;

}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.green {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid greenyellow;
    color: greenyellow;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.red {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid red;
    color: red;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.azzurro {
    background-color: #46adf1;
}

.viola {
    background-color: #a16ff8;
}

.verde {
    background-color: green;
}

.arancio {
    background-color: orange;
}

.rosa {
    background-color: pink;
}

.verde-lime {
    background-color: #afc62f;
}

.rett {
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}